* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 350px;
  align-items: start;
  justify-content: start;
  grid-column: auto;
  column-gap: 70px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 80px;
  height: 80px;
  border-top: 20px solid #1098ad;
  grid-column: 1 / -1;
}

footer {
  grid-column: 1 / -1;
  background-color: #1098ad;
  color: white;
}

.post-header {
  margin-bottom: 40px;
}

.post-img {
  width: 100%;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li:last-child {
  margin-bottom: 0;
}

footer p {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
}

/* Links are always styled in this order: Link|Visited|Hover|Active [LVHA] */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
}

nav a:link {
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.like-button {
  background-color: white;
  padding: 20px 40px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* h2::after {
  content: "TOP";
  background-color: yellow;
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -5px;
  right: -5px;
} */

h2::after {
  content: "TOP";
  background-color: #bdbd24;
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  position: absolute;
  margin-left: 10px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}

footer p {
  margin: 15px;
}
